$Snow: rgb(255, 255, 255);
$Gray-0: rgb(250, 250, 250);
$Gray-1: rgb(235, 235, 235);
$Gray-2: rgb(225, 225, 225);
$Gray-3: rgb(200, 200, 200);
$Gray-4: rgb(51, 51, 51);
$Ocean: rgb(30, 67, 110);
$Danger: rgb(155, 0, 0);
$SkyBlue: rgb(95, 158, 160);
