@import "../styles/variables";

.carousel {
  display: flex;
  // align-items: stretch;
  align-items: center;
  justify-content: center;
  height: 100vh;

  transform: translate(0);
  // transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide {
  overflow: hidden;
  display: flex;
  align-items:center;
  justify-content: center;
  
}
