@import "../src/styles/variables";

.heading__title {
  display: flex;
  font-size: 4vw;
  width: 100%;
  justify-content: center;
  color: $DarkBlue;
  padding: 1vw 0;
}

.carousel__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  user-select: none;
  padding: 0 1vw;
  margin-bottom: 2vw;
}

.carousel__content h1 {
  font-size: 4vw;
  color: $Ocean;
  margin-bottom: 0.2vw;
}

.carousel__content p {
  font-size: 2.5vw;
  margin-bottom: 0.2vw;
  color: $Danger;
}

.img-wrapper {
  position: relative;
  padding-top: 50%;
  width: 100%;
  margin-bottom: 1.5vw;
  border: 1px solid $DarkBlue;
  border-radius: 3px;
  overflow: hidden;
}

.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  text-decoration: none;
  font-size: 2.5vw;
  letter-spacing: 0.1rem;
  border: 1px solid $Ocean;
  border-radius: 3px;
  padding: 0.5vw 0.9vw;
  color: $Ocean;
  background-color: $Gray-0;
  opacity: 0.8;

  &:hover {
    background-color: $Gray-1;
    opacity: 1;
  }
}
